.mat-column-amount {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-amountBase {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-amountLowCorr {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-amountBaseLowCorr {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-amountHighCorr {
    text-align: right;
    justify-content: flex-end;
}

.mat-column-amountBaseHighCorr {
    text-align: right;
    justify-content: flex-end;
}
