<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="WARN" />

    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="org.hibernate.type" level="WARN" />

    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework.socket" level="INFO" />
    <logger name="org.springframework.servlet" level="TRACE" />

    <logger name="org.activiti" level="DEBUG" />

    <logger name="com.uob.frtb" level="DEBUG" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>