<div class="columns-2 gap-2">

    <!-- Column 1 -->
    <div class="px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SAMR Risk Charge</mat-card-title>
                <mat-card-subtitle>Hover on pies to view details. Also click on legend to include/exclude legend item in chart</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-sa-mr-risk-charge-pie-chart></app-sa-mr-risk-charge-pie-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>U11 Time Series</mat-card-title>
                <mat-card-subtitle>Hover on pies to view details. Also click on legend to include/exclude legend item in chart</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-ng2-time-series-chart></app-ng2-time-series-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>IMA Market Risk Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="break-after-column px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>IMA CVA Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>


    <!-- Column 2 -->

    <div class="px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SAMR Sensitivities Risk Charge</mat-card-title>
                <mat-card-subtitle>Hover on bars to view details. Also click on legend to include/exclude legend item in chart</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-sa-mr-risk-charge-bar-chart></app-sa-mr-risk-charge-bar-chart>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SA-MR Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SA-CVA Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>

</div>