<div class="columns-2 gap-2">

    <div class="block flex flex-col px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SAMR Risk Charge</mat-card-title>
                <mat-card-subtitle>Hover on bars to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-bar-chart></app-bar-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="block flex flex-col px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>IMA Market Risk Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="block flex flex-col break-after-column px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>IMA CVA Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="block flex flex-col px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SA-MR Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="block flex flex-col px-2 py-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>SA-CVA Executions</mat-card-title>
                <mat-card-subtitle>Click show to view details</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-execution-list [workflowType]="'samr'"></app-execution-list>
            </mat-card-content>
        </mat-card>
    </div>

</div>